        <h1>c9 Python</h1>

        <pre>
        test="/root/data"
        dir= test + "/other"
        print(dir)
        </pre>

        <p>Debugging;</p>

        <pre>
        import pdb
        pdb.set_trace()
        </pre>

        <p>Run your program;</p>


